html {
    height:100%;
}

body {
	background-image:url(images/background.png);
	background-repeat:repeat-x;
    height:100%;
}

#wrapper {
	margin:0px auto;
	width: 1050px;
	margin-top:0px;
    height:100%;
    background-color:white;
}

#top-border {
    background-image: url(images/top-border.png);
    width: 1050px;
    height: 136px;
}

#divAccount {
    width:80%;
    margin:2em auto;
}

#divLoadFunds {
    width:60%;
    margin:2em auto;
    display:none;
}

#panelLoaded {
    width:60%;
    margin:2em auto;
}

#panelLoading {
    width:60%;
    margin:2em auto;
}

#divTransaction {
    width:80%;
    height:55%;
    margin:2em auto;
    display:none;
    font-size:larger;
}

#divTransactionDetails {
    width:100%;
    height:100%;
    overflow:auto;
}

#divTransactionMask {
    display:none;
}

#divAuthorizeResult {
    font-weight:600;
    font-size:larger;
}

#divTransDetailMask {
    display:none;
}

li.active {
    font-size:larger;
    font-weight:700;
}

.accountfield {
    width:60%;
}

.fieldTransaction {
    width:30%;
}

.fieldDate {
    width:40%;
}

.fieldAmount {
    text-align:right;
    width:20%;
}

.fieldDetailItem {
    width:40%;
    display:inline-block;
}

.fieldDetailPrice {
    width:20%;
    display:inline-block;
}

.fieldDetailQty {
    width:20%;
    display:inline-block;
}

.paddingtight {
    padding:2px;
}

.margintight {
    margin-bottom:2px;
}

.panelcontainer {
    display:none;
}

.btn-default {
    background-color:lemonchiffon;
}

.transaction {
    height:2.5em;
}

.transdetailholder {
    margin:0.5em 2.5em;
    margin-bottom:1.5em;
    display:none;
}

.alternaterow {
    background-color:#f3f3f3;
}
